[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Launch Alacritty Terminal
Exec=alacritty
Icon=utilities-terminal
Path=
Terminal=false
StartupNotify=false
